*{
    font-size: 15px;
    font-weight: 600;
}

.main{
    height: 91.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #cecece;

    padding: 30px 10px;
    gap: px;
}

.operation{
    margin: 10px 0;
    box-sizing: border-box;
    padding: 3px;
}

.calcularBtn{
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

.disableCalcularBtn{
    cursor: default;
}

.calcularBtn:hover{
    background-color: #1813fb;
    color: white;
}